*.la
*.o
*.lo
*.log
Makefile
autom4te.cache/
bootstrap.log
checkout-fixup
config.h
config.log
config.status
configure-output.log
doc/.dirstamp
doc/stamp-vti
doc/version.texi
libltdl/.deps/
libltdl/.dirstamp
libltdl/.libs
libltdl/config.h
libltdl/loaders/.deps/
libltdl/loaders/.dirstamp
libltdl/stamp-h1
libtool
libtoolize
make.log.err
stamp-h1
tests/atconfig
