*.la
*.o
*.lo
libtool
Makefile
bootstrap.log
checkout-fixup
config.log
config.status
configure-output.log
doc/stamp-vti
doc/version.texi
libltdl/.libs
libltdl/config.h
libltdl/stamp-h1
libtoolize
*.log
make.log.err

